body {
  background-color: black;
  color: lightgray;
  font-family: monospace;
}

.ascii-banner {
  font-size: 8.0px;
  overflow: hidden;
}

hr {
  border: none;
  border-top: 1.0px dashed;
}

p {
  font-size: 14.0px;
}

a {
  color: cyan;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wavy {
  animation-name: wavy;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  position: relative;
  top: 0;
  left: 0;
}

@keyframes wavy {
  0% {
    top: 0px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: 0px;
  }
}
